<div class="form-container animate__animated animate__fadeIn lg:mt-8">
  <p-toast></p-toast>
  <div class="form-content text-center">
    <div class="text-center">
      <h2 class="text-indigo-900 capitalize">  {{ (idPokemon)? 'Editar Pokemon' : 'Nuevo Pokemon'}}</h2>
    </div>
    <form [formGroup]="formPokemon" (ngSubmit)="storeOrUpdate()">
      <div class="form grid">
        <div class="field col-12 md:col-6 lg:col-6">
          <div class="field-form my-4">
            <div class="field grid">
              <label for="nombre" class="col-fixed text-indigo-900 font-bold" style="width:100px">Nombre:</label>
              <div class="col">
                <input
                  id="nombre"
                  type="text"
                  formControlName="name"
                  placeholder="Nombre"
                  [ngClass]="{'ng-invalid ng-dirty': isInvalidField('name')}"
                  pInputText>
              </div>
            </div>
            <small class="p-error text-right" *ngIf="isInvalidField('name')">
              <span>El nombre es requerido</span>
            </small>
          </div>
          <div class="field-form my-4">
            <div class="field grid">
              <label for="imagen" class="col-fixed text-indigo-900 font-bold" style="width:100px">Imagen:</label>
              <div class="col">
                <input
                  id="imagen"
                  type="text"
                  formControlName="image"
                  placeholder="Url"
                  [ngClass]="{'ng-invalid ng-dirty': isInvalidField('image')}"
                  pInputText>
              </div>
            </div>
            <small class="p-error text-right" *ngIf="isInvalidField('image')">
              <span>{{imagenErrors}}</span>
            </small>
          </div>
        </div>
        <div class="field col-12 md:col-6 lg:col-6">
          <div class="field-form my-5">
            <div class="field grid">
              <label for="ataque" class="col-fixed text-indigo-900 font-bold" style="width:100px">Ataque:</label>
              <div class="col py-3">
                <p-slider
                  id="ataque"
                  [ngClass]="{'ng-invalid ng-dirty': isInvalidField('attack')}"
                  formControlName="attack">
                </p-slider>
              </div>
            </div>
          </div>
          <div class="field-form my-5">
            <div class="field grid">
              <label class="col-fixed text-indigo-900 font-bold" style="width:100px">Defensa:</label>
              <div class="col py-2">
                <p-slider
                  id="defensa"
                  formControlName="defense">
                </p-slider>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mb-4 botones">
        <p-button
          [label]="(idPokemon) ? 'Actualizar' : 'Guardar'"
          class="p-button-lg mx-2"
          icon="pi pi-save"
          [disabled]="formPokemon.invalid"
          type="submit">
        </p-button>
        &nbsp;
        <p-button label="Cancelar" class="p-button-lg mx-2" icon="pi pi-times" (onClick)="back()"></p-button>
      </div>
    </form>
  </div>
</div>

